# Other version control indexes
.svn
.bzr

# Makefile.PL products
Makefile
Makefile.old
MYMETA.json
MYMETA.yml

# Make products
blib
pm_to_blib

# Test flag files
/t/live/ENABLED*

# Working/Editor detritus
*.swp
*.tmp
*~
